@import "core.css";
/* Global rules */

nav li{
	list-style-type: none;
	display: block;
	margin-right: 2em;
	border-bottom: 2px dotted;
}
nav li::before, figcaption::before, table caption::before{ 
	display: inline;
	align: right;
 }
nav li::before{ 
	content: counters(section, ".") " ";
	counter-increment: section;
 }
figcaption::before{ 
	counter-increment: figcount;
	content: "Figure "counter(figcount) ": ";
	font-weight: bold;
 }
table caption::before{ 
	counter-increment: tabcount;
	content: "Table "counter(tabcount) ": ";
	font-weight: bold;
 }
nav ul li a::after {
    float: right;
    right: 0px;
    position: relative;
}
nav ul{ counter-reset: section }
tr:nth-child(even), tr.even{
	background: var(--base3);
	color: var(--base00)
}
tr:nth-child(odd), tr.odd{
	background: var(--base2);
	color: var(--base00)
}
td{
	text-align: justify
}
td:last-child, th:last-child{
	text-align: right
}
td:first-child{
	text-align: left
}
thead , th, tr.header {
	color: var(--blue-solarized);
	background-color: var(--base03);
	border-bottom: 0.13em solid;
}
table,th,td{
	font-size: 0.9em;
}

table{
	margin-left:	auto;
	margin-right:	auto;
	width:	95%;
	border: 0.2em solid var(--base0);
	border-collapse: collapse;
	caption-side: bottom;
}
table caption{ text-align: left; }

th,td{
	border: none;
	border-left: 1px solid var(--base0);
}

body{
	counter-reset: figcount tabcount;
	font-family: var(--font-main-sans);
	text-align: justify;
	line-height: 1.5;
	padding: 1.5rem;
	counter-reset: l1, l2, l3
}
p{	
	text-align:	justify;
	overflow:	hidden;
}
blockquote{	
	margin-left:	1cm;
	margin-right:	1cm;
}
blockquote p::before, q::before{	content: open-quote;}
blockquote p::after, q::after{	content: close-quote;}

h1{
	font-size: 16pt;
	font-family: var(--font-heading-sans);
	text-decoration: underline;
	color: var(--color-main-text);
	text-align: center;
}
h2,h3{
	font-size: 14pt;
	font-family: var(--font-heading-serif);
	color: var(--color-heading-text);
}
h1,h2,h3{	margin-top:	1.5em;	}
h1,h2,h3,blockquote,figcaption,footnote,.footnotes,ul,li,address,a,tr,th,td{
	line-height: 1;
}
h4{	text-decoration:	underline;	}

pre{
	border: 1px solid var(--base00);
	padding:	2pt;
	background-color: var(--base2);
	background-opacity:	50%;
	color:	var(--base00);
	font-family: var(--font-main-mono);
	display: inline-block:
}

:not(pre) > code{
	padding:	2pt;
	display:	inline-block;
	font-family: var(--font-main-mono);
}

.author, .date{
	text-align: center;
	margin: 0pt;
}
.author{	font-size:15pt;	}
.date{	font-size:13pt;	}
.footnotes ul, .footnotes ol{
	list-style-type: none;
}


@media screen {
	html{
		background: #2221;
	}
	nav li > ul {
		transform: scale(0, 0);
		transform-origin: top left;
		font-size: 0px;
		transition: 0.5s ease-in all 0.25s;
	}
	nav li:hover > ul {
		transform: scale(1, 1);
		transform-origin: top left;
		font-size: inherit;
		transition: 0.25s ease-in all;
		transition-delay: 0.25s;
	}
	nav ul li a::after {
	    content: attr(href);
	}
	td{ overflow-wrap: break-word;}
	body{
		max-width:	60rem;
		margin: auto;
		font-size: 1rem;
		background: var(--color-main-bg-print);
		color: var(--color-main-text-print);
		font-family: var(--font-main-sans);
		padding: 0.5em 2em;
		margin: 35vh auto;
		border: 1px solid var(--color-heading-text);
		box-shadow: 5pt 5pt 20pt rgba(0,0,0,0.6);
	}
	
	h1{
		display:	block;
		background:	var(--color-heading-bg1);
		font-size: 1.5em;
		font-family: var(--font-heading-sans);
		text-decoration: none;
		color: var(--color-main-bg);
	}
	h2,h3{
		font-family: var(--font-heading-serif);
		color: var(--color-heading-text);
	}
	h2{	
		font-size: 1.4em;
		text-decoration:	underline;
	}
	h3{	font-size: 1.2em;	}
	a{	
		color: var(--color-link-text);
		text-decoration:	none;
	}
	
	
	figure{
		width: 90%;
		overflow: scroll;
		right:	1em;
		padding:	0.25em;
		border:	1px solid var(--color-main-text-print);
	}
	figcaption{	font-size:	0.8em;	}
	figure > img, figure > video{	width:100%;	}	
	:not(pre) > code{
		background-color: var(--base2);
		color:	var(--base02);
	}
}


@media screen and (prefers-color-scheme: dark){
	figure{
		border-color: var(--color-main-text-screen);
	}
	body{
		background: var(--color-main-bg-screen);
		color: var(--color-main-text-screen);
		/* border:	1px dotted var(--color-main-text-screen); */
	}
	h1{
		background:	var(--color-heading-bg1-screen);
		color: var(--color-main-bg);
	}
	h2,h3{
		color: var(--color-heading-text-screen);
	}
	tr:nth-child(even), tr.even{
		background: var(--base03);
		color: var(--base0)
	}
	tr:nth-child(odd), tr.odd{
		background: var(--base02);
		color: var(--base0)
	}
	td:last-child{
		text-align: right
	}
	table{
		border: 0.2em solid var(--base00);
	}
	tr,td{ border-color: var(--base00); }
	pre{
		border: 1px solid var(--base0);
		background-color: var(--base02);
		color:	var(--base00);
	}
	img{
		max-width:	100%;
		height:	auto;
	}
	:not(pre) > code{
		background-color: var(--base02);
		color:	var(--base0);
		font-family: var(--font-main-mono);
	}

}

@media print{
	body{
		padding: 3mm;
		font-size: 12pt;
		background: var(--color-main-bg-print);
		color: var(--color-main-text-print);
		font-family: var(--font-main-serif);
	}
	a{	color: var(--color-main-text);	}
	
	h1{
		font-size: 22pt;
		font-family: var(--font-heading-serif);
		text-decoration: none;
		color: var(--color-heading-text);
	}
	h2,h3{
		font-family: var(--font-heading-serif);
		text-decoration: underline;
		color: var(--color-main-text);
	}
	h2{
		font-size: 14pt;
	}
	h3{	
		font-size: 13pt;
		page-break-after: avoid;
	}
	p, table{
		page-break-before: avoid;
		page-break-inside: avoid;
	}
	
	figure{
		padding:	0.25em;
		border:	1px dotted var(--color-main-text-print);
	}
	figcaption{	font-size:	8pt;	}
	nav ul li a::after {
	    content: target-counter(attr(href url), page, decimal);
	}
	#title-block-header{
		margin-top: 50vh;
		margin-bottom: 50vh;
		page-break-after: always;
		font-size: 2em;
	}
}

@page {
	size: A4 portrait;
	padding: 2cm;
	padding-left: 4cm;
}
