@import "core.css";
html{ background: var(--background-table);
		background-attachment: fixed;
}
nav > a{
		  min-width: 11mm;
		  min-height: 11mm;
		  background-color: var(--color-heading-bg1-screen);
		  color: var(--color-main-bg);
		  padding: 1ex 2ex;
		  text-align: center;
		  font-size: 14pt;
		  font-family: var(--font-main-sans);
		  font-weight: bold;
		  text-decoration: unset;
		  display: inline-block;
		  box-shadow: 0px 1mm 3mm rgba(0,0,0,0.5);
		  border: 1pt solid var(--color-main-bg);
}
embed{
		  border: none;
		  width: auto;
		  height: auto;
}
nav {
		 flex-wrap: wrap;
		 display: inline-flex;
		 justify-content: space-evenly;
		 grid-gap: 2mm;
		  white-space: nowrap;
		  overflow: auto;
		  background: #0007;
		  padding: 1ex;
}
@media(max-width:60rem){
		  nav{
					 width: calc(100vw - 1cm);
					 height: 20mm;
					 bottom: 5mm;
					 position: absolute;
					 flex-direction: column;
		  }
		  nav > a{ height: 100% }
		  embed{
					 width: calc(100vw - 1cm);
					 height: calc(100vh - 3cm);
		  }
}
@media(min-width:60rem){
		  nav{
					 float: left;
					 flex-direction: column;
					 width: 100%;
					 height: calc(99vh - 1cm);
					 margin: 2mm auto;
					 border: 2pt solid var(--color-table-border);
					 grid-column-start: 1;
					 grid-column-end: 1;
		  }
		  nav > a{
					 min-width: 75%;
					 width: min-content;
					 height: min-content;
		  }
		  embed{
					 float: right;
					 width: 100%;
					 height: calc(100vh - 1cm);
					 grid-column-start: 2;
					 grid-column-end: span 10;
		  }
		  .gridcontainer{
					 display: grid;
					 grid-template-columns: minmax(20em,33vw) auto;
		  }
}
